  <%= profile_helper %>
  <%= noprofile_helper %>
<div class="column is-half">
  <%= new_post_helper %>
  <!-- NewPost -->
  <% @posts.each do | post | %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(post.user.email, size: 64, alt: post.user.name) %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <%= name_and_username_helper(post) %>
            <p><%= post.post %></p>
          </div>
          <%= own_post_buttons_helper(post)%>
          <!--Own Post Buttons Helper-->
        </div>
      </article>
    </div>
  <% end %>
</div>
